#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.font {
  text-align: center;
  font-family: Cursive;
  font-size: 22px;
}

.time-display {
  text-align: center;
  font-size: 60px;
}

.buttons {
  display: flex;
  /* khoảng cách giữa 2 nút */
  gap: 20px;
  justify-content: center;
}